<h1>Router Lifecycle Events</h1>
<p>Angular 5 have added new lifecycle events to the router, allowing developers to track the cycle of the router from the start of running guards through to completion of activation. These events could be used for things such as showing a spinner on a specific router outlet when a child is updating or to measure performance of guards and/or resolvers.
</p>
<p>The new events (in sequence) are <strong>GuardsCheckStart, ChildActivationStart, ActivationStart, GuardsCheckEnd, ResolveStart, ResolveEnd, ActivationEnd, ChildActivationEnd.</strong></p>
<p> You can review the right aside of this app to see the triggered events.</p>